body {
	padding:0;
	margin:0;
}

.form-attributes input[type="text"],.form-attributes input[type="password"],
.form-attributes input[type="email"],.form-attributes input[type="url"],
.form-attributes input[type="file"],.form-attributes select {
	width: 100%;
	padding: 8px 0px;
	outline: none;
}

.form-attributes p {
	font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.form-attributes span {
	font-size: 16px;
	font-weight: 600;
}
.form {
	max-width: 600px; 
    margin: 0 auto;
    padding: 50px 0px;
}

.form-attributes textarea {
	width: 100%;
	outline: none;
}

.form-attributes {
	padding-top: 15px;
}

.form-attributes .submit_btn {
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    background: transparent;
    border: 1px solid #000;
}

.form-attributes .submit_btn:hover {
	background: #000;
	color: #fff;
	transition: .3s;
}

.error_msg {
	color: red;
    padding: 10px 0px;
}
